main {
  background: url("../images/background.jpg");
  background-size: cover;
  min-height: calc(100vh - 145px);
  display: flex;
  flex-direction: column;
}
.thumbnail {
  float: left;
  padding-right: 20px;
}
.navbar-name {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: #68bea2e7;
}
footer {
  background-color: #666666;
  color: lightslategrey;
  height: 50px;
  text-align: center;
  padding-top: 10px ;
  border-top: 5px solid #4aaaa5;  
}

.box {
  margin-top: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
  background: white;
  padding: 20px 10px;
}
.boxhead {
  margin-top: -10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #68bea2e7;
}
.info {
  margin: 20px;
}
