main {
  background: url("../images/background.jpg");
  background-size: cover;
  min-height: calc(100vh - 145px);
  display: flex;
  flex-direction: column;
}
.thumbnail {
  float: left;
  padding-right: 20px;
}
.navbar-name {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

.button {
  background-color: #4aaaa5;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;s
  font-size: 14px;
  padding: 15px 25px;
}

.box {
  margin-top: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
  background: white;
  padding: 20px 10px;
}
.boxhead {
  margin-top: -10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #4aaaa5;
}
.info {
  margin: 20px;
}

.form-group {
  margin-left: 10px;
  margin-right: 100px;

}
    
footer {
  background-color: #666666;
  color: lightslategrey;
  height: 50px;
  text-align: center;
  padding-top: 10px ;
  border-top: 5px solid #4aaaa5;  
}
  